[submodule "source/src/blackfriday"]
	path = source/src/blackfriday
	url = git@github.com:grymoire7/blackfriday.git
[submodule "source/src/docopt"]
	path = source/src/docopt
    url = git@github.com:grymoire7/docopt.go.git
